*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    float: left;
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 600;
}



.main_div{
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}
.main_div h2{
    margin-bottom: 30px;
}
.container{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div_item{
    width: 30%;
    position: relative;
    background-color: #777777;
    padding: 15px;
    padding-top: 35px;
    text-align: justify;
    border: 2px solid #000;
    min-height: 160px;
}
.div_item span{
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    font-family: 'Open Sans', sans-serif;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    
}
.span_1{
    background-color:pink;
}
.span_2{
    background-color:rgba(196, 30, 30, 0.685);
    color: #fff;
}
.span_3{
    background-color:lightyellow;
}
